.About.About-chooseHeroes {
    color: #fff;
    text-align: center;
    background-image: url(https://static.playoverwatch.com/img/about/About-Heroes-Background-Mobile-373852901b.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px
}

.About.About-chooseHeroes .AboutChooseHeroes-desc {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 22px
}

:lang(ja) .About.About-chooseHeroes .AboutChooseHeroes-desc {
    font-family: UDTypos,sans-serif;
    font-weight: 400
}

:lang(zh) .About.About-chooseHeroes .AboutChooseHeroes-desc {
    font-family: Noto Sans TC,sans-serif;
    font-weight: 400
}

:lang(ko) .About.About-chooseHeroes .AboutChooseHeroes-desc {
    font-family: Noto Sans KR,sans-serif;
    font-weight: 400
}

@media (min-width: 640px) {
    .About.About-chooseHeroes .AboutChooseHeroes-desc {
        font-size:18px;
        line-height: 26px
    }
}

@media (min-width: 1280px) {
    .About.About-chooseHeroes .AboutChooseHeroes-desc {
        font-size:21px;
        line-height: 30px
    }
}

@media (min-width: 640px) {
    .About.About-chooseHeroes {
        background-image:url(https://static.playoverwatch.com/img/about/About-Heroes-Background-Tablet-8591c02ee4.jpg);
        padding-top: 50;
        padding-bottom: 50
    }

    .About.About-chooseHeroes .AboutChooseHeroes-desc {
        max-width: 760px
    }
}

@media (min-width: 1280px) {
    .About.About-chooseHeroes {
        background-image:url(https://static.playoverwatch.com/img/about/About-Heroes-Background-Desktop-c13ed85c90.jpg);
        padding-top: 100;
        padding-bottom: 100
    }
}

.AboutChooseHeroes-msg {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

:lang(ja) .AboutChooseHeroes-msg {
    font-family: UDTypos,sans-serif;
    font-weight: 400
}

:lang(zh) .AboutChooseHeroes-msg {
    font-family: Noto Sans TC,sans-serif;
    font-weight: 400
}

:lang(ko) .AboutChooseHeroes-msg {
    font-family: Noto Sans KR,sans-serif;
    font-weight: 400
}

.HeroSelect-allHeroes-link {
    font-family: FuturaNo2D,Century Gothic,AppleGothic,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    min-width: 200px;
    border-radius: 2px;
    background: none;
    z-index: 1;
    color: #fff;
    padding: 7px 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    position: relative
}

:lang(ja) .HeroSelect-allHeroes-link {
    font-family: DFSoGeiStd,sans-serif;
    font-weight: 400
}

:lang(zh) .HeroSelect-allHeroes-link {
    font-family: Noto Sans TC,sans-serif;
    font-weight: 400
}

:lang(ko) .HeroSelect-allHeroes-link {
    font-family: Noto Sans KR,sans-serif;
    font-weight: 400
}

@media (min-width: 1280px) {
    .HeroSelect-allHeroes-link {
        font-size:21px;
        line-height: 21px;
        padding: 12px 20px
    }
}

.HeroSelect-allHeroes-link .Button-cta,.HeroSelect-allHeroes-link .Button-icon {
    display: inline-block;
    pointer-events: none
}

.HeroSelect-allHeroes-link:before {
    content: "";
    z-index: -1;
    background-color: #f06414;
    position: absolute;
    border-radius: 2px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9
}

.HeroSelect-allHeroes-link:active,.HeroSelect-allHeroes-link:active:focus,.HeroSelect-allHeroes-link:focus,.HeroSelect-allHeroes-link:hover {
    color: #fff
}

.HeroSelect-allHeroes-link:before {
    -webkit-transition: all 80ms ease;
    transition: all 80ms ease;
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.HeroSelect-allHeroes-link:focus,.HeroSelect-allHeroes-link:hover {
    cursor: pointer
}

.HeroSelect-allHeroes-link:focus:before,.HeroSelect-allHeroes-link:hover:before {
    opacity: 1;
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.HeroSelect-allHeroes-link:active:before {
    opacity: .8;
    -webkit-transform: scale(.98);
    transform: scale(.98)
}

.HeroSelect-allHeroes-link:focus:not(.focus-visible) {
    outline: 0
}

.HeroSelect-allHeroes-link:before {
    background-color: transparent
}

@media (min-width: 960px) {
    .HeroSelect-allHeroes-link {
        margin-top:0
    }
}

@media (min-width: 1280px) {
    .HeroSelect-allHeroes-link {
        border:none;
        -webkit-transform: translate(357px,-413px);
        transform: translate(357px,-413px)
    }
}

@media (min-width: 1600px) {
    .HeroSelect-allHeroes-link {
        -webkit-transform:translate(586px,-413px);
        transform: translate(586px,-413px)
    }
}

.HeroSelect-allHeroes-link--arrowIcon {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    fill: #fff;
    display: none
}

@media (min-width: 1280px) {
    .HeroSelect-allHeroes-link--arrowIcon {
        display:block
    }
}

.RoleSelect-wrapper {
    font-family: FuturaNo2D,Century Gothic,AppleGothic,sans-serif;
    -webkit-font-smoothing: antialiased;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase;
    padding: 20px
}

:lang(ja) .RoleSelect-wrapper {
    font-family: DFSoGeiStd,sans-serif;
    font-weight: 400
}

:lang(zh) .RoleSelect-wrapper {
    font-family: Noto Sans TC,sans-serif;
    font-weight: 400
}

:lang(ko) .RoleSelect-wrapper {
    font-family: Noto Sans KR,sans-serif;
    font-weight: 400
}

@media (min-width: 1280px) {
    .RoleSelect-wrapper {
        -webkit-box-align:start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-transform: translate(-285px);
        transform: translate(-285px)
    }
}

@media (min-width: 1600px) {
    .RoleSelect-wrapper {
        -webkit-transform:translate(-520px);
        transform: translate(-520px)
    }
}

.RoleSelect-title {
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
    text-align: center
}

.RoleSelect--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.RoleSelect-item {
    background-color: #fff;
    font-size: 14px;
    padding: 0;
    border: 1px solid #9b9da2
}

@media (min-width: 640px) {
    .RoleSelect-item {
        font-size:16px
    }
}

@media (min-width: 1280px) {
    .RoleSelect-item {
        font-size:18px
    }
}

.RoleSelect-button {
    padding: 5px 10px;
    display: block;
    background-color: transparent;
    border: none
}

.RoleSelect-button:hover {
    background-color: transparent;
    -webkit-transition: none;
    transition: none
}

.RoleSelect-role {
    color: #4b535d
}

.RoleSelect-roleCount {
    margin-left: 3px;
    color: #9b9da2
}

.RoleSelect-item--active {
    background-color: #212529;
    border: 1px solid #212529
}

.RoleSelect-item--active .RoleSelect-role {
    color: #fff
}

.RoleSelect-item--active .RoleSelect-roleCount {
    color: #727a82
}

.HeroSelect-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.Carousel-control.Carousel-control-hero,.HeroSelect-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.Carousel-control.Carousel-control-hero {
    height: 100%;
    display: none;
    padding: 0;
    background: transparent;
    border: 0
}

.Carousel-control.Carousel-control-hero .Svg-icon {
    fill: #fff;
    padding: 0;
    width: 35px;
    height: 35px
}

.Carousel-control.Carousel-control-hero.Carousel-control--next {
    right: -35px
}

.Carousel-control.Carousel-control-hero.Carousel-control--next,.Carousel-control.Carousel-control-hero.Carousel-control--previous {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.Carousel-control.Carousel-control-hero.Carousel-control--previous {
    left: -45px
}

.Carousel-control.Carousel-control-hero.js-disabled .Svg-icon {
    fill: hsla(0,0%,100%,.4)
}

@media (min-width: 960px) {
    .Carousel-control.Carousel-control-hero {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.HeroSelect-carousel-wrapper {
    margin-bottom: 20px
}

.CardHero.CardHero--visible {
    position: relative;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition: visibility 0s linear 0s,opacity 0s,-webkit-transform .5s ease;
    transition: visibility 0s linear 0s,opacity 0s,-webkit-transform .5s ease;
    transition: visibility 0s linear 0s,opacity 0s,transform .5s ease;
    transition: visibility 0s linear 0s,opacity 0s,transform .5s ease,-webkit-transform .5s ease
}

.CardHero.CardHero--hidden {
    visibility: hidden;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    -webkit-transition: visibility 0s linear .5s,opacity .5s,-webkit-transform .5s ease;
    transition: visibility 0s linear .5s,opacity .5s,-webkit-transform .5s ease;
    transition: visibility 0s linear .5s,opacity .5s,transform .5s ease;
    transition: visibility 0s linear .5s,opacity .5s,transform .5s ease,-webkit-transform .5s ease
}

.CardHero.CardHero--shift {
    position: absolute;
    z-index: -10
}

.Card.Card-withCaption.Card-hero {
    width: 157px;
    height: 240px;
    margin: 0 5px;
    border: none
}

@media (min-width: 640px) {
    .Card.Card-withCaption.Card-hero {
        width:180px;
        height: 270px
    }
}

@media (min-width: 1280px) {
    .Card.Card-withCaption.Card-hero {
        width:225px;
        height: 345px
    }
}

.Card.Card-withCaption .Card-thumbnail-wrapper {
    width: 100%;
    height: 100%;
    background-image: url(https://static.playoverwatch.com/img/hero-portrait-detailed/hero-portrait-detailed-bg-c659e0b7f6.jpg);
    background-position-y: top;
    background-size: cover
}

.Card.Card-withCaption .Card-thumbnail-wrapper .Card-thumbnail {
    background-color: transparent
}

.CardHero .Card-caption,.CardHero .Card-thumbnail-wrapper {
    border: 1px solid hsla(0,0%,50.2%,.4)
}

.CardHero .Card-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: none
}

.CardHero .Card-title:before {
    width: 12px;
    height: 14px;
    content: "";
    display: inline-block;
    opacity: .7;
    margin-right: 5px
}

.CardHero--SUPPORT .Card-title:before {
    background-image: url(https://static.playoverwatch.com/svg/roles/role-support-1297f8371b.svg)
}

.CardHero--DAMAGE .Card-title:before {
    background-image: url(https://static.playoverwatch.com/svg/roles/role-damage-bbc0102298.svg)
}

.CardHero--TANK .Card-title:before {
    background-image: url(https://static.playoverwatch.com/svg/roles/role-tank-89d128d832.svg)
}

.HeroSelect.Carousel-content {
    overflow: hidden;
    width: 360px;
    height: 240px
}

@media (min-width: 480px) {
    .HeroSelect.Carousel-content {
        width:440px
    }
}

@media (min-width: 640px) {
    .HeroSelect.Carousel-content {
        height:270px;
        width: 600px
    }
}

@media (min-width: 960px) {
    .HeroSelect.Carousel-content {
        width:760px
    }
}

@media (min-width: 1280px) {
    .HeroSelect.Carousel-content {
        height:345px;
        width: 940px
    }
}

@media (min-width: 1600px) {
    .HeroSelect.Carousel-content {
        width:1410px
    }
}

.HeroSelect.Carousel-content .Carousel-item-wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: baseline;
    text-overflow: clip
}

.ow-ana-color {
    background-color: #9c978a
}

.ow-ashe-color {
    background-color: #b3a05f
}

.ow-bastion-color {
    background-color: #24f9f8
}

.ow-baptiste-color {
    background-color: #2892a8
}

.ow-brigitte-color {
    background-color: #efb016
}

.ow-doomfist-color {
    background-color: #762c21
}

.ow-dva-color {
    background-color: #ee4bb5
}

.ow-echo-color {
    background-color: #89c8ff
}

.ow-genji-color {
    background-color: #abe50b
}

.ow-hanzo-color {
    background-color: #837c46
}

.ow-junkrat-color {
    background-color: #fbd73a
}

.ow-lucio-color {
    background-color: #aaf531
}

.ow-mccree-color {
    background-color: #c23f46
}

.ow-mei-color {
    background-color: #87d7f6
}

.ow-mercy-color {
    background-color: #fcd849
}

.ow-moira-color {
    background-color: #7112f4
}

.ow-orisa-color {
    background-color: #ccb370
}

.ow-pharah-color {
    background-color: #3461a4
}

.ow-reaper-color {
    background-color: #333
}

.ow-reinhardt-color {
    background-color: #b9b5ad
}

.ow-roadhog-color {
    background-color: #54515a
}

.ow-sigma-color {
    background-color: #3ba
}

.ow-soldier-76-color {
    background-color: #525d9b
}

.ow-sombra-color {
    background-color: #9762ec
}

.ow-symmetra-color {
    background-color: #3e90b5
}

.ow-torbjorn-color {
    background-color: #b04a33
}

.ow-tracer-color {
    background-color: #ffcf35
}

.ow-widowmaker-color {
    background-color: #af5e9e
}

.ow-winston-color {
    background-color: #595959
}

.ow-wrecking-ball-color {
    background-color: #4a575f
}

.ow-zarya-color {
    background-color: #ff73c1
}

.ow-zenyatta-color {
    background-color: #e1c931
}

.Crossplay-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    background-color: #f6f6f6
}

@media (min-width: 640px) {
    .Crossplay-wrapper {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.Crossplay-content {
    background-image: url(https://static.playoverwatch.com/img/pages/about/crossplay/CrossPlay-About-BG-Mobile-4921e978a7.jpg);
    background-size: cover
}

@media (min-width: 640px) {
    .Crossplay-content {
        width:50%;
        background-size: auto
    }
}

@media (min-width: 960px) {
    .Crossplay-content {
        width:45%;
        background-image: url(https://static.playoverwatch.com/img/pages/about/crossplay/CrossPlay-About-BG-Tablet-25dae410c8.jpg);
        background-size: cover
    }
}

@media (min-width: 1280px) {
    .Crossplay-content {
        width:48%;
        background-image: url(https://static.playoverwatch.com/img/pages/about/crossplay/crossplay-about-banner-half-c9df9d6528.jpg);
        background-size: auto;
        background-position: 100%;
        position: relative
    }
}

.Crossplay-logoWrapper {
    padding: 35px 10px;
    text-align: center
}

@media (min-width: 640px) {
    .Crossplay-logoWrapper {
        padding:50px 0
    }
}

@media (min-width: 960px) {
    .Crossplay-logoWrapper {
        padding:35px 0;
        margin-left: 35%
    }
}

@media (min-width: 1280px) {
    .Crossplay-logoWrapper {
        width:300px;
        left: auto;
        right: 250px;
        margin-left: 0;
        position: absolute
    }
}

.Crossplay-logo {
    height: 149px;
    background-size: contain;
    background-position: 50%
}

@media (min-width: 960px) {
    .Crossplay-logo {
        height:170px
    }
}

.Crossplay-cta.Button {
    margin-top: 10px;
    font-family: FuturaNo2D,Century Gothic,AppleGothic,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    min-width: 200px;
    border-radius: 2px;
    background: none;
    z-index: 1;
    color: #fff;
    border: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px
}

:lang(ja) .Crossplay-cta.Button {
    font-family: DFSoGeiStd,sans-serif;
    font-weight: 400
}

:lang(zh) .Crossplay-cta.Button {
    font-family: Noto Sans TC,sans-serif;
    font-weight: 400
}

:lang(ko) .Crossplay-cta.Button {
    font-family: Noto Sans KR,sans-serif;
    font-weight: 400
}

@media (min-width: 1280px) {
    .Crossplay-cta.Button {
        font-size:21px;
        line-height: 21px;
        padding: 12px 20px
    }
}

.Crossplay-cta.Button .Button-cta,.Crossplay-cta.Button .Button-icon {
    display: inline-block;
    pointer-events: none
}

.Crossplay-cta.Button:before {
    content: "";
    z-index: -1;
    background-color: #f06414;
    position: absolute;
    border-radius: 2px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9
}

.Crossplay-cta.Button:active,.Crossplay-cta.Button:active:focus,.Crossplay-cta.Button:focus,.Crossplay-cta.Button:hover {
    color: #fff
}

.Crossplay-cta.Button:before {
    -webkit-transition: all 80ms ease;
    transition: all 80ms ease;
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.Crossplay-cta.Button:focus,.Crossplay-cta.Button:hover {
    cursor: pointer
}

.Crossplay-cta.Button:focus:before,.Crossplay-cta.Button:hover:before {
    opacity: 1;
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.Crossplay-cta.Button:active:before {
    opacity: .8;
    -webkit-transform: scale(.98);
    transform: scale(.98)
}

.Crossplay-cta.Button:focus:not(.focus-visible) {
    outline: 0
}

@media (min-width: 960px) {
    .Crossplay-cta.Button {
        margin-top:15px
    }
}

.Crossplay-platforms {
    background-color: #f6f6f6;
    height: 235px;
    position: relative
}

@media (min-width: 640px) {
    .Crossplay-platforms {
        height:300px;
        width: 50%
    }
}

@media (min-width: 1280px) {
    .Crossplay-platforms {
        background-color:transparent
    }
}

.Crossplay-platformsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 160px;
    height: 170px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

@media (min-width: 640px) {
    .Crossplay-platformsWrapper {
        height:180px
    }
}

@media (min-width: 960px) {
    .Crossplay-platformsWrapper {
        margin-left:inherit;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 450px;
        height: 50%
    }
}

@media (min-width: 1280px) {
    .Crossplay-platformsWrapper {
        left:200px
    }
}

@media (min-width: 1600px) {
    .Crossplay-platformsWrapper {
        -ms-flex-wrap:nowrap;
        flex-wrap: nowrap;
        width: 850px;
        left: 380px
    }
}

.Crossplay-platform-logoInner {
    display: block
}

@media (max-width: 639px) {
    .Crossplay-platform-logoInner {
        position:absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.Crossplay-platform-logo {
    display: block;
    margin: auto;
    position: relative;
    font-size: 24px;
    width: 160px
}

@media (min-width: 960px) {
    .Crossplay-platform-logo {
        font-size:35px;
        width: 170px
    }
}

.Crossplay-platform-logo svg {
    display: block;
    fill: #212529;
    margin: 0 auto
}

@media (min-width: 640px) {
    .Crossplay-platform-logo svg {
        position:absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }
}

.Crossplay-platform-logo--pc svg {
    height: 1.3em;
    width: 5.33em;
    overflow: visible;
    margin-top: 15px
}

.Crossplay-platform-logo--playstation svg,.Crossplay-platform-logo--switch svg {
    height: 1em;
    width: 4.713em
}

.Crossplay-platform-logo--xbox svg {
    height: 1em;
    width: 4.969em
}
