@font-face {
    font-family: 'Ethnocentric';
    font-style: normal;
    font-weight: 400;
    src: local('Ethnocentric'), local('Ethnocentric-Regular'), url(http://allfont.ru/cache/fonts/ethnocentric_bfc011014f750758feea6233f68d9f33.woff) format('woff'), url(http://allfont.ru/cache/fonts/ethnocentric_bfc011014f750758feea6233f68d9f33.ttf) format('truetype');
}

@font-face {
    font-family: 'BigNoodleTitlingCyr';
    src: url('https://wolfwarr1or.github.io/main/font/10318.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url(https://us.battle.net/forums/static/fonts/f014015d/f014015d.woff);

}

* {
    cursor: url(https://cdn.discordapp.com/attachments/303406782104207362/315839175406649345/Overwatch.cur), auto;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


body {
    margin: 0;
    padding: 0;
    background: url('https://wolfwarr1or.github.io/wallpaper.jpg') no-repeat;
    background-size: cover;
}

.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-family: 'Ethnocentric';
    font-size: 40px;
    font-weight: 100;
}

.box h5 {
    font-size: 20px;
    font-weight: 100;
    font-family: 'BigNoodleTitlingCyr';
}

.box p {
    font-family: 'Futura';
    text-align: justify;
}