@font-face {
    font-family: 'overwatch-italic';
    src: url(https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff);
    font-style: italic;
}

* {
    cursor: url('https://cdn.discordapp.com/attachments/303406782104207362/315839175406649345/Overwatch.cur'), auto;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.more-text {
    font-family: 'overwatch-italic';
    font-style: oblique;
    font-size: 50px;
}


html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
    /*background-image: linear-gradient(to bottom right, #333 0%, #888 100%);
    background-attachment: fixed;
    /*background-image:linear-gradient(to bottom, #333 0%, #777 25%, #888 50%, #777 75%, #333 100%);*/
}