html {
    height: 100%;
}





body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom right, #333 0%, #888 100%);
    background-attachment: fixed;
    /*background-image:linear-gradient(to bottom, #333 0%, #777 25%, #888 50%, #777 75%, #333 100%);*/
}