html {
    line-height:1.15
   }
   main {
    display:block
   }
   h1 {
    font-size:2em;
    margin:.67em 0
   }
   hr {
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    height:0;
    overflow:visible
   }
   pre {
    font-family:monospace,monospace;
    font-size:1em
   }
   a {
    background-color:transparent
   }
   abbr[title] {
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
   }
   b,
   strong {
    font-weight:bolder
   }
   code,
   kbd,
   samp {
    font-family:monospace,monospace;
    font-size:1em
   }
   small {
    font-size:80%
   }
   sub {
    bottom:-.25em
   }
   sup {
    top:-.5em
   }
   img {
    border-style:none
   }
   button,
   input,
   optgroup,
   select,
   textarea {
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0
   }
   button,
   input {
    overflow:visible
   }
   button,
   select {
    text-transform:none
   }
   [type=button],
   [type=reset],
   [type=submit],
   button {
    -webkit-appearance:button
   }
   [type=button]::-moz-focus-inner,
   [type=reset]::-moz-focus-inner,
   [type=submit]::-moz-focus-inner,
   button::-moz-focus-inner {
    border-style:none;
    padding:0
   }
   [type=button]:-moz-focusring,
   [type=reset]:-moz-focusring,
   [type=submit]:-moz-focusring,
   button:-moz-focusring {
    outline:1px dotted ButtonText
   }
   fieldset {
    padding:.35em .75em .625em
   }
   legend {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
   }
   progress {
    vertical-align:baseline
   }
   textarea {
    overflow:auto
   }
   [type=checkbox],
   [type=radio] {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
   }
   [type=number]::-webkit-inner-spin-button,
   [type=number]::-webkit-outer-spin-button {
    height:auto
   }
   [type=search] {
    -webkit-appearance:textfield;
    outline-offset:-2px
   }
   [type=search]::-webkit-search-decoration {
    -webkit-appearance:none
   }
   ::-webkit-file-upload-button {
    -webkit-appearance:button;
    font:inherit
   }
   details {
    display:block
   }
   summary {
    display:list-item
   }
   template {
    display:none
   }
   input:invalid {
    -webkit-box-shadow:none;
    box-shadow:none
   }
   body.ja-jp h1,
   body.ja-jp h2,
   body.ja-jp h3,
   body.ja-jp h4,
   body.ja-jp h5,
   body.ja-jp h6 {
    font-weight:400
   }
   *,
   :after,
   :before {
    -webkit-box-sizing:inherit;
    box-sizing:inherit;
    background-repeat:no-repeat;
    vertical-align:inherit;
    white-space:inherit;
    text-overflow:inherit;
    text-shadow:inherit
   }
   html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    position:relative;
    top:0;
    left:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size:10px
   }
   body,
   html {
    width:100%;
    display:block
   }
   body {
    color:#333;
    fill:#333;
    padding:0;
    margin:0;
    background-color:#f6f6f6;
    max-width:100%;
    overflow-x:hidden;
    font-family:Arial,sans-serif;
    font-size:1.6rem;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    line-height:1.4
   }
   @media screen and (min-width:2560px) {
    body {
     max-width:2560px;
     margin-left:auto;
     margin-right:auto;
     background-image:url(https://static.playoverwatch.com/img/carbon-fiber-slice-d31b1b7dc2.jpg),url(https://static.playoverwatch.com/img/carbon-fiber-slice-d31b1b7dc2.jpg);
     background-position:0 0,100% 0;
     background-repeat:repeat-y;
     background-size:calc((100% - 2560px)/2),calc((100% - 2560px)/2)
    }
   }
   body.ko-kr {
    font-family:Noto Sans,sans-serif;
    word-break:keep-all
   }
   body.ja-jp {
    font-family:UDTypos,Arial,sans-serif
   }
   .DataTable-tableBody,
   .h1,
   .h2,
   .h3,
   .h4,
   .h5,
   .h6,
   .media-thumbnail>.caption,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
    margin:0;
    display:block;
    text-transform:uppercase;
    white-space:normal
   }
   .h1,
   h1 {
    font-family:Big Noodle Too,impact,sans-serif;
    font-size:4.883rem;
    font-style:italic;
    font-weight:400;
    font-variant:normal;
    line-height:normal;
    letter-spacing:.5px
   }
   @media only screen and (min-width:640px) {
    .h1,
    h1 {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1280px) {
    .h1,
    h1 {
     font-size:7.629rem
    }
   }
   .h2,
   h2 {
    font-family:Big Noodle Too,impact,sans-serif;
    font-size:3.906rem;
    font-style:italic;
    font-weight:400;
    font-variant:normal;
    line-height:normal;
    letter-spacing:.8px
   }
   @media only screen and (min-width:640px) {
    .h2,
    h2 {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:1280px) {
    .h2,
    h2 {
     font-size:6.104rem
    }
   }
   .h3,
   h3 {
    font-family:FuturaNo2D,century gothic,arial,sans-serif;
    font-size:2.5rem;
    font-style:normal;
    font-weight:700;
    font-variant:normal;
    line-height:normal
   }
   @media only screen and (min-width:640px) {
    .h3,
    h3 {
     font-size:3.125rem
    }
   }
   .h4,
   h4 {
    font-family:FuturaNo2D,century gothic,arial,sans-serif;
    font-size:2rem;
    font-style:normal;
    font-weight:700;
    font-variant:normal;
    line-height:normal
   }
   @media only screen and (min-width:640px) {
    .h4,
    h4 {
     font-size:2.5rem
    }
   }
   .h5,
   h5 {
    font-family:FuturaNo2D,century gothic,arial,sans-serif;
    font-size:2rem;
    font-style:normal;
    font-weight:700;
    font-variant:normal;
    line-height:normal
   }
   .DataTable-tableBody,
   .h6,
   .media-thumbnail>.caption,
   h6 {
    font-family:FuturaNo2D,century gothic,arial,sans-serif;
    font-size:1.6rem;
    font-style:normal;
    font-weight:700;
    font-variant:normal;
    line-height:normal;
    letter-spacing:.5px
   }
   @media only screen and (min-width:0px) and (max-width:479px) {
    .h1\@xs {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) and (min-width:640px) {
    .h1\@xs {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) and (min-width:1280px) {
    .h1\@xs {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) {
    .h2\@xs {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) and (min-width:640px) {
    .h2\@xs {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) and (min-width:1280px) {
    .h2\@xs {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) {
    .h3\@xs {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) and (min-width:640px) {
    .h3\@xs {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) {
    .h4\@xs {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) and (min-width:640px) {
    .h4\@xs {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:0px) and (max-width:479px) {
    .h5\@xs {
     font-size:2rem
    }
    .h5\@xs,
    .h6\@xs {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@xs {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) {
    .h1\@sm {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) and (min-width:640px) {
    .h1\@sm {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) and (min-width:1280px) {
    .h1\@sm {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) {
    .h2\@sm {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) and (min-width:640px) {
    .h2\@sm {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) and (min-width:1280px) {
    .h2\@sm {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) {
    .h3\@sm {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) and (min-width:640px) {
    .h3\@sm {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) {
    .h4\@sm {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) and (min-width:640px) {
    .h4\@sm {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:480px) and (max-width:639px) {
    .h5\@sm {
     font-size:2rem
    }
    .h5\@sm,
    .h6\@sm {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@sm {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:480px) {
    .h1\@sm-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:480px) and (min-width:640px) {
    .h1\@sm-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:480px) and (min-width:1280px) {
    .h1\@sm-min {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:480px) {
    .h2\@sm-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:480px) and (min-width:640px) {
    .h2\@sm-min {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:480px) and (min-width:1280px) {
    .h2\@sm-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:480px) {
    .h3\@sm-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:480px) and (min-width:640px) {
    .h3\@sm-min {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:480px) {
    .h4\@sm-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:480px) and (min-width:640px) {
    .h4\@sm-min {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:480px) {
    .h5\@sm-min {
     font-size:2rem
    }
    .h5\@sm-min,
    .h6\@sm-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@sm-min {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) {
    .h1\@md {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) and (min-width:640px) {
    .h1\@md {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) and (min-width:1280px) {
    .h1\@md {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) {
    .h2\@md {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) and (min-width:640px) {
    .h2\@md {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) and (min-width:1280px) {
    .h2\@md {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) {
    .h3\@md {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) and (min-width:640px) {
    .h3\@md {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) {
    .h4\@md {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) and (min-width:640px) {
    .h4\@md {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:640px) and (max-width:959px) {
    .h5\@md {
     font-size:2rem
    }
    .h5\@md,
    .h6\@md {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@md {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:640px) {
    .h1\@md-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:640px) and (min-width:640px) {
    .h1\@md-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:640px) and (min-width:1280px) {
    .h1\@md-min {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:640px) {
    .h2\@md-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:640px) and (min-width:640px) {
    .h2\@md-min {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:640px) and (min-width:1280px) {
    .h2\@md-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:640px) {
    .h3\@md-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:640px) and (min-width:640px) {
    .h3\@md-min {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:640px) {
    .h4\@md-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:640px) and (min-width:640px) {
    .h4\@md-min {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:640px) {
    .h5\@md-min {
     font-size:2rem
    }
    .h5\@md-min,
    .h6\@md-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@md-min {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) {
    .h1\@lg {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) and (min-width:640px) {
    .h1\@lg {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) and (min-width:1280px) {
    .h1\@lg {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) {
    .h2\@lg {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) and (min-width:640px) {
    .h2\@lg {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) and (min-width:1280px) {
    .h2\@lg {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) {
    .h3\@lg {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) and (min-width:640px) {
    .h3\@lg {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) {
    .h4\@lg {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) and (min-width:640px) {
    .h4\@lg {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:960px) and (max-width:1279px) {
    .h5\@lg {
     font-size:2rem
    }
    .h5\@lg,
    .h6\@lg {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@lg {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:962px) {
    .h1\@lg-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:962px) and (min-width:640px) {
    .h1\@lg-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:962px) and (min-width:1280px) {
    .h1\@lg-min {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:962px) {
    .h2\@lg-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:962px) and (min-width:640px) {
    .h2\@lg-min {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:962px) and (min-width:1280px) {
    .h2\@lg-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:962px) {
    .h3\@lg-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:962px) and (min-width:640px) {
    .h3\@lg-min {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:962px) {
    .h4\@lg-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:962px) and (min-width:640px) {
    .h4\@lg-min {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:962px) {
    .h5\@lg-min {
     font-size:2rem
    }
    .h5\@lg-min,
    .h6\@lg-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@lg-min {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) {
    .h1\@xl {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) and (min-width:640px) {
    .h1\@xl {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) and (min-width:1280px) {
    .h1\@xl {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) {
    .h2\@xl {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) and (min-width:640px) {
    .h2\@xl {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) and (min-width:1280px) {
    .h2\@xl {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) {
    .h3\@xl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) and (min-width:640px) {
    .h3\@xl {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) {
    .h4\@xl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) and (min-width:640px) {
    .h4\@xl {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:1280px) and (max-width:1599px) {
    .h5\@xl {
     font-size:2rem
    }
    .h5\@xl,
    .h6\@xl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@xl {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:1280px) {
    .h1\@xl-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:1280px) and (min-width:640px) {
    .h1\@xl-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1280px) and (min-width:1280px) {
    .h1\@xl-min {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:1280px) {
    .h2\@xl-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:1280px) and (min-width:640px) {
    .h2\@xl-min {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:1280px) and (min-width:1280px) {
    .h2\@xl-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1280px) {
    .h3\@xl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:1280px) and (min-width:640px) {
    .h3\@xl-min {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:1280px) {
    .h4\@xl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:1280px) and (min-width:640px) {
    .h4\@xl-min {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:1280px) {
    .h5\@xl-min {
     font-size:2rem
    }
    .h5\@xl-min,
    .h6\@xl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@xl-min {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) {
    .h1\@xxl {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) and (min-width:640px) {
    .h1\@xxl {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) and (min-width:1280px) {
    .h1\@xxl {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) {
    .h2\@xxl {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) and (min-width:640px) {
    .h2\@xxl {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) and (min-width:1280px) {
    .h2\@xxl {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) {
    .h3\@xxl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) and (min-width:640px) {
    .h3\@xxl {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) {
    .h4\@xxl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) and (min-width:640px) {
    .h4\@xxl {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:1600px) and (max-width:1920px) {
    .h5\@xxl {
     font-size:2rem
    }
    .h5\@xxl,
    .h6\@xxl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@xxl {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:1600px) {
    .h1\@xxl-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:1600px) and (min-width:640px) {
    .h1\@xxl-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1600px) and (min-width:1280px) {
    .h1\@xxl-min {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:1600px) {
    .h2\@xxl-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:1600px) and (min-width:640px) {
    .h2\@xxl-min {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:1600px) and (min-width:1280px) {
    .h2\@xxl-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:1600px) {
    .h3\@xxl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:1600px) and (min-width:640px) {
    .h3\@xxl-min {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:1600px) {
    .h4\@xxl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:1600px) and (min-width:640px) {
    .h4\@xxl-min {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:1600px) {
    .h5\@xxl-min {
     font-size:2rem
    }
    .h5\@xxl-min,
    .h6\@xxl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@xxl-min {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) {
    .h1\@xxxl {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) and (min-width:640px) {
    .h1\@xxxl {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) and (min-width:1280px) {
    .h1\@xxxl {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) {
    .h2\@xxxl {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) and (min-width:640px) {
    .h2\@xxxl {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) and (min-width:1280px) {
    .h2\@xxxl {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) {
    .h3\@xxxl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) and (min-width:640px) {
    .h3\@xxxl {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) {
    .h4\@xxxl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) and (min-width:640px) {
    .h4\@xxxl {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:2560px) and (max-width:9999px) {
    .h5\@xxxl {
     font-size:2rem
    }
    .h5\@xxxl,
    .h6\@xxxl {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@xxxl {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:2560px) {
    .h1\@xxxl-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:4.883rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.5px
    }
   }
   @media only screen and (min-width:2560px) and (min-width:640px) {
    .h1\@xxxl-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:2560px) and (min-width:1280px) {
    .h1\@xxxl-min {
     font-size:7.629rem
    }
   }
   @media only screen and (min-width:2560px) {
    .h2\@xxxl-min {
     font-family:Big Noodle Too,impact,sans-serif;
     font-size:3.906rem;
     font-style:italic;
     font-weight:400;
     font-variant:normal;
     line-height:normal;
     letter-spacing:.8px
    }
   }
   @media only screen and (min-width:2560px) and (min-width:640px) {
    .h2\@xxxl-min {
     font-size:4.883rem
    }
   }
   @media only screen and (min-width:2560px) and (min-width:1280px) {
    .h2\@xxxl-min {
     font-size:6.104rem
    }
   }
   @media only screen and (min-width:2560px) {
    .h3\@xxxl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2.5rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:2560px) and (min-width:640px) {
    .h3\@xxxl-min {
     font-size:3.125rem
    }
   }
   @media only screen and (min-width:2560px) {
    .h4\@xxxl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-size:2rem;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
   }
   @media only screen and (min-width:2560px) and (min-width:640px) {
    .h4\@xxxl-min {
     font-size:2.5rem
    }
   }
   @media only screen and (min-width:2560px) {
    .h5\@xxxl-min {
     font-size:2rem
    }
    .h5\@xxxl-min,
    .h6\@xxxl-min {
     font-family:FuturaNo2D,century gothic,arial,sans-serif;
     font-style:normal;
     font-weight:700;
     font-variant:normal;
     line-height:normal
    }
    .h6\@xxxl-min {
     font-size:1.6rem;
     letter-spacing:.5px
    }
   }
   body.ko-kr .h1,
   body.ko-kr .h2,
   body.ko-kr h1,
   body.ko-kr h2 {
    font-family:Koverwatch,sans-serif;
    font-style:normal;
    line-height:normal
   }
   body.ko-kr .DataTable-tableBody,
   body.ko-kr .h3,
   body.ko-kr .h5,
   body.ko-kr .h6,
   body.ko-kr .media-thumbnail>.caption,
   body.ko-kr h3,
   body.ko-kr h4 .h4,
   body.ko-kr h5,
   body.ko-kr h6 {
    font-family:BlackFit77,sans-serif;
    line-height:normal
   }
   body.ja-jp .DataTable-tableBody,
   body.ja-jp .h1,
   body.ja-jp .h2,
   body.ja-jp .h3,
   body.ja-jp .h4,
   body.ja-jp .h5,
   body.ja-jp .h6,
   body.ja-jp .media-thumbnail>.caption,
   body.ja-jp h1,
   body.ja-jp h2,
   body.ja-jp h3,
   body.ja-jp h4,
   body.ja-jp h5,
   body.ja-jp h6 {
    font-family:DFSoGeiStd,sans-serif;
    font-style:normal
   }
   p {
    margin-top:0;
    margin-bottom:0
   }
   .Link,
   a,
   p,
   span {
    white-space:normal
   }
   .Link,
   a {
    color:#f06414;
    text-decoration:none
   }
   .Link:hover,
   a:hover {
    color:#ffb033
   }
   .Link:active,
   a:active {
    color:#ff8900
   }
   .Link:focus,
   a:focus {
    color:#ff8900
   }
   .Link:active:focus,
   a:active:focus {
    color:#c75a00
   }
   hr {
    border:0;
    border-bottom:3px solid hsla(0,0%,96.5%,.3)
   }
   @media only screen and (min-width:640px) {
    hr {
     border-bottom-width:6px
    }
   }
   hr.m-dark {
    border-bottom-color:rgba(64,82,117,.5)
   }
   ul {
    list-style:none;
    padding:0;
    margin:0
   }
   body.ko-kr blockquote {
    font-family:Noto Sans,sans-serif;
    font-style:normal
   }
   blockquote {
    font-family:Arial,sans-serif;
    font-style:italic;
    font-size:1.6rem;
    line-height:1.25;
    background-color:#f8f8f8;
    color:#545454;
    margin:0;
    padding:15px;
    border-radius:2px
   }
   blockquote p {
    margin:0 0 10px
   }
   blockquote cite {
    color:rgba(84,84,84,.5);
    font-size:1.4rem
   }
   blockquote a {
    color:#545454
   }
   :not(pre)>code[class*=language-],
   pre[class*=language-] {
    background-color:rgba(84,84,84,.025);
    border-radius:2px;
    padding:15px
   }
   code {
    display:block;
    margin:10px 0;
    overflow:auto
   }
   table {
    border-collapse:collapse;
    border-spacing:0;
    width:100%
   }
   sub,
   sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
   }
   sup {
    top:-.3em
   }
   sub {
    bottom:-.2em
   }
   body.ko-kr select {
    font-family:BlackFit77,sans-serif
   }
   select {
    font-family:FuturaNo2D,century gothic,arial,sans-serif;
    font-weight:600;
    text-transform:uppercase;
    padding:3px 18px 3px 6px;
    color:#333
   }
   table,
   tbody,
   thead,
   tr {
    width:100%;
    border-collapse:collapse
   }
   button,
   form {
    white-space:normal
   }
   small {
    font-size:.8em
   }
   svg {
    fill:inherit
   }
   @font-face {
    font-family:Blizzard;
    font-style:normal;
    font-weight:300;
    src:local("Blizzard Light"),
    local("Blizzard-Light"),
    url(https://static.playoverwatch.com/fonts/blizzard-5d1ab6b169.light.woff) format("woff")
   }
   @font-face {
    font-family:Blizzard;
    font-style:normal;
    font-weight:400;
    src:local("Blizzard"),
    local("Blizzard"),
    url(https://static.playoverwatch.com/fonts/blizzard-6374a0ee30.regular.woff) format("woff")
   }
   @font-face {
    font-family:Blizzard;
    font-style:italic;
    font-weight:400;
    src:local("Blizzard Italic"),
    local("Blizzard-Italic"),
    url(https://static.playoverwatch.com/fonts/blizzard-62a0ea0338.regular-italic.woff) format("woff")
   }
   @font-face {
    font-family:Blizzard;
    font-style:normal;
    font-weight:700;
    src:local("Blizzard Bold"),
    local("Blizzard-Bold"),
    url(https://static.playoverwatch.com/fonts/blizzard-8cc5a1ab59.bold.woff) format("woff")
   }
   @font-face {
    font-family:FuturaNo2D;
    src:url(https://static.playoverwatch.com/fonts/FuturaNo2D-DemiBold-8635bfcad5.woff) format("woff");
    font-weight:600;
    font-style:normal
   }
   @font-face {
    font-family:Big Noodle Too;
    src:url(https://static.playoverwatch.com/fonts/big-noodle-too-254c7f1a1d.woff) format("woff");
    font-weight:400;
    font-style:normal
   }
   @font-face {
    font-family:Big Noodle Too;
    src:url(https://static.playoverwatch.com/fonts/big-noodle-too-oblique-1eed6dbdd0.woff) format("woff");
    font-weight:400;
    font-style:italic
   }
   @font-face {
    font-family:Koverwatch;
    src:url(https://static.playoverwatch.com/fonts/koverwatch-webfont-1f961d9e70.woff) format("woff");
    font-weight:400;
    font-style:normal
   }
   @font-face {
    font-family:BlackFit77;
    src:url(https://static.playoverwatch.com/fonts/yoonblackfit77-webfont-b750e4c5e7.woff) format("woff");
    font-weight:400;
    font-style:normal
   }
   @font-face {
    font-family:UDTypos;
    src:url(https://static.playoverwatch.com/fonts/UDTypos512B_P_H-6ca23e86d3.TTF) format("truetype");
    font-weight:400;
    font-style:normal
   }
   @font-face {
    font-family:DFSoGeiStd;
    src:url(https://static.playoverwatch.com/fonts/DFSoGeiStd-W9-5bbf115585.ttf) format("truetype");
    font-weight:400;
    font-style:normal
   }
   @font-face {
    font-family:Config;
    src:url(https://static.playoverwatch.com/fonts/config-regular-webfont-ff86c0a259.woff2) format("woff2"),
    url(https://static.playoverwatch.com/fonts/config-regular-webfont-22c0432b4e.woff) format("woff");
    font-weight:400;
    font-style:normal
   }
   @font-face {
    font-family:Config;
    src:url(https://static.playoverwatch.com/fonts/config-italic-webfont-e808349a6d.woff2) format("woff2"),
    url(https://static.playoverwatch.com/fonts/config-italic-webfont-275c2324db.woff) format("woff");
    font-weight:400;
    font-style:italic
   }
   @font-face {
    font-family:Config;
    src:url(https://static.playoverwatch.com/fonts/config-bold-webfont-da9c48c30a.woff2) format("woff2"),
    url(https://static.playoverwatch.com/fonts/config-bold-webfont-75add01b89.woff) format("woff");
    font-weight:700;
    font-style:normal
   }
   @font-face {
    font-family:Config;
    src:url(https://static.playoverwatch.com/fonts/config-bolditalic-webfont-41f95304ae.woff2) format("woff2"),
    url(https://static.playoverwatch.com/fonts/config-bolditalic-webfont-2d691209ae.woff) format("woff");
    font-weight:700;
    font-style:italic
   }
   @media print {
    @page {
     margin:.5cm
    }
    body {
     font:12pt Georgia,Times New Roman,Times,serif;
     line-height:1.3
    }
    img {
     max-width:100%;
     border:0
    }
    audio,
    embed,
    object,
    video {
     display:none
    }
    p a[href^=http]:after {
     word-wrap:break-word;
     content:" (" attr(href) ")";
     font-size:80%
    }
   }
   h1+h2,
   h1+h3,
   h1+h4,
   h1+ol,
   h1+ul,
   h2+h2,
   h2+h3,
   h2+h4,
   h2+ol,
   h2+ul,
   h3+h2,
   h3+h3,
   h3+h4,
   h3+ol,
   h3+ul,
   h4+h2,
   h4+h3,
   h4+h4,
   ol+p,
   ul+p {
    margin-top:.3em
   }
   .DataTable-tableBody+*>p:first-child,
   .DataTable-tableBody+.paragraph-spacing,
   .DataTable-tableBody+p,
   .h1+*>p:first-child,
   .h1+.paragraph-spacing,
   .h1+p,
   .h2+*>p:first-child,
   .h2+.paragraph-spacing,
   .h2+p,
   .h3+*>p:first-child,
   .h3+.paragraph-spacing,
   .h3+p,
   .h4+*>p:first-child,
   .h4+.paragraph-spacing,
   .h4+p,
   .h5+*>p:first-child,
   .h5+.paragraph-spacing,
   .h5+p,
   .h6+*>p:first-child,
   .h6+.paragraph-spacing,
   .h6+p,
   .media-thumbnail>.caption+*>p:first-child,
   .media-thumbnail>.caption+.paragraph-spacing,
   .media-thumbnail>.caption+p,
   h1+*>p:first-child,
   h1+.paragraph-spacing,
   h1+p,
   h2+*>p:first-child,
   h2+.paragraph-spacing,
   h2+p,
   h3+*>p:first-child,
   h3+.paragraph-spacing,
   h3+p,
   h4+*>p:first-child,
   h4+.paragraph-spacing,
   h4+p,
   h5+*>p:first-child,
   h5+.paragraph-spacing,
   h5+p,
   h6+*>p:first-child,
   h6+.paragraph-spacing,
   h6+p {
    margin-top:.6em
   }
   p+.h2,
   p+.h3,
   p+h2,
   p+h3 {
    margin-top:.4em
   }
   .media-thumbnail>p+.caption,
   p+.DataTable-tableBody,
   p+.h4,
   p+.h5,
   p+.h6,
   p+h4,
   p+h5,
   p+h6 {
    margin-top:1.25em
   }
   p+.paragraph-spacing,
   p+p {
    margin-top:.8em
   }